PORT=5000
MONGODB_URI=mongodb+srv://smitrakholiya763:Smit%402407@cluster0.lopta.mongodb.net/scheduler
FRONTEND_URL=http://localhost:5173
JWT_SECRET=erbtrhhglkervbipgnpobwegpbw9gpbrpiberngiperbngnruib
JWT_EXPIRES_IN=7d